/*公用基础样式*/
html,
body {
	width: 100%;
	height: 100%;
	min-width: 1507px;
	min-height: 768px;
	font-family: "Microsoft Yahei";
}
.pos-r {
	position: relative;
}
.pos-a {
	position: absolute;
}
.hidden {
	display: none;
}
.container-fluid,
.content,
.left,
.right,
.main {
	height: 100%;
}
.left {
	padding: 0;
	background: #283138;
}
.right {
    display: none;
	overflow-x: hidden;
	overflow-y: auto;
}
.left header {
	padding: 10px;
	margin-bottom: 20px;
	height: 70px;
	border-bottom: 1px solid #999;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.left .iconfont {
	color: #fff;
}
.left ul li {
	margin: 0 15px 30px 15px;
	font-size: 15px;
}
.left li i {
	position: relative;
	left: -10%;
	top: 1px;
	font-size: 18px;
}
.left a:hover i {
	color: #222;
	font-weight: bold;
}
.active a:hover i {
	color: #fff;
	font-weight: normal;
}
.left a {
	text-align: center;
	color: #ddd;
}
.left a:hover {
	color: #222;
}
.title {
	text-align: center;
}

/*index.html*/
.login {
	padding-top: 7%;
}

/*display.html*/
.tab_camera {
	margin-bottom: 10px;
	text-align: left;
}
.tab_camera span {
	display: inline-block;
	text-indent: 10px;
	font-size: 16px;
	color: #337ab7;
	font-weight: bold;
	cursor: default;
}
.tab_camera .btn {
	cursor: pointer;
}
.tab_camera .choosed {
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.tab_camera .disabled_tab {
	background: #eee;
	cursor: not-allowed;
}
.camera form {
	height: 100%;
}
.camera .panel {
	height: calc(100% - 40px);
}
.camerabox {
	height: calc(100% - 85px);
	text-align: center;
}
.cameracase {
	display: inline-block;
	padding: 0 10px;
	width: 100%;
	height: calc(100% - 45px);
}
.doublecamera {
	transform: translateY(20%);
}
.cameracase .text-center {
	height: calc(100% - 75px);
}
.camerabox object {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
}
#time1 {
	position: absolute;
	right: 50px;
	bottom: 25px;
	font-size: 20px;
	color:#666;
}
.has-default {
	margin-top: 5px;
	width: 100%;
	text-align: left;
	color: #abaaaa;
}
.gotoplay button {
	margin: 10px 0;
}
#startopencv {
	display: none;
}
.item-toggle {
    position: absolute;
    right: 150px;
    top: 19px;
    width: 100px;
    height: 50px;
    color: #000;
    z-index: 2;
    cursor: pointer;
}
.icon-shezhi {
    padding: 4px 6px;
    font-size: 30px;
    color: #337ab7;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
}
.wrapper1 {
	display: none;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 1440px;
	min-height: 768px;
	background: rgba(0,0,0,.2);
}
.wrapper1 .btn {
	padding: 4px 8px;
}
.wrapper1 .confirm {
	margin-right: 20px;
}
#drawing {
	position: absolute;
	left: 50%;
	z-index: 3;
	transform: translateX(-50%);
}
/*settings.html*/
.case {
	padding: 8px 25px;
	height: 38px;
	color: #333;
	text-align: left;
}
.case:nth-of-type(odd),
.case .inputodd {
	background: #f9f9f9;
}
.setting {
	padding: 10px 15px;
	display: inline-block;
	margin: 8px 8px 0 0;
	width: 49%;
	height: 333px;
	min-width: 580px;
	min-height: 333px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.setting [readonly] {
	border-width: 0;
}
.setting>p {
	font-size: 16px;
    font-weight: bold;
    color: #337ab7;
}
.setting input {
	border: 1px solid #999;
	border-radius: 3px;
	text-indent: 4px;
	line-height: normal;
}
.setting .setting_choose {
	margin-left: -18px;
	cursor: pointer;
	border-radius: 0;
	border: 1px solid #999;
}
.case label {
	width: 71px;
}
.triangle {
	position: relative;
	left: 130px;
	color: #333;
	cursor: pointer;
}
.setting ul {
	display: none;
	position: relative;
	z-index: 2;
	margin-left: 240px;
	padding-left: 0;
	width: 155px;
	border: 1px solid #ddd;
	background: #fff;
}
.case-title {
	display: inline-block;
	width: 240px;
}
.setting li {
	list-style: none;
	padding-left: 4px;
	height: 24px;
	line-height: 24px;
	cursor: default;
}
.setting li:hover {
	background: #09c;
}
.add_camera {
	position: absolute;
	top: 15px;
	left: 0px;
}
.add_camera i {
	font-size: 30px;
	color: #01be6b;
	font-weight: bold;
	cursor: pointer;
}
/*多路相机样式*/

/*system.html*/
.system_setting_title {
	margin-top: 25px;
	padding: 0 0 10px 40px;
	border-bottom: 1px solid #ddd;
}
.system_setting_title .btn-primary {
	background: #348bd6;
}
.system_setting_title .active_tab {
	background: #286090;
}
.system_setting_case {
	position: relative;
}
.system_setting_case form {
	display: none;
	position: absolute;
	width: 100%;
	height: 350px;
}
.system_setting_case .form_ipaddr {
	display: block;
}
.system_setting_case input[type=submit] {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-top: 20px;
	height: 36px;
	width: 66px;
}
.system_setting {
    padding: 0 20px;
}
p.setting_title {
    margin: 40px 0 5px 0;
    position: relative;
    left: -1px;
    color: #009dd2;
    font-weight: bold;
    font-size: 18px;
}
span.delete_case {
    float: right;
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
    color: #666;
}
span.delete_case:hover {
    color: #d9534f;
}
/*local.html*/
.text-center video {
	margin: 0 auto;
	width: 90%;
	height: 620px;
	background: #000;
	object-fit: contain;
}
.local form {
	margin-top: 5px;
}
.local label {
	width: 90%;
	text-align: left;
}
#upload {
	margin: 0 auto;
	width: 90%;
	border: 1px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
}
#upload~button {
	margin-top: 20px;
}
#result {
	padding: 0 30px;
	text-align: left;
}
#result p {
	margin-bottom: 0; 
}
.each_result {
	border-top: 1px solid #ddd;
	height: 28px;
	line-height: 28px;
}
.wrapper {
	z-index: 2;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 1440px;
	min-height: 768px;
	background: rgba(0,0,0,0.5);
}
.tips {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 200px;
	background: #efefef;
	border-radius:  5px 5px 0 0;
}
.tips p {
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin: 34px 0;
}
.tips .title {
	padding-left: 10px;
	margin: 0;
	height: 42px;
	text-align: left; 
	line-height: 42px;
	background: #09c;
	font-size: 16px;
	color: #ddd;
	border-radius: 5px 5px 0 0;
}
.submit button {
	position: absolute;
	top: 25px;
	right: 30px;
	width: 66px;
	border-radius: 0 4px 4px 0;
}
.submit button:nth-child(1) {
	right: 96px;
	border-radius: 0;
}
.active_tab {
	background: #286090;
}
/*setting.html的相机类型切换*/
.toggle_camera {
	color: #000;
}
#toggle_camera {
	display: none;
}
.toggle_camera>span {
	position: relative;
	top: -8px;
	font-size: 17px;
	font-weight: bold;
	color: #337ab7;
}
.toggle_camera_bg {
	position: relative;
	width: 83px;
	height: 32px;
	background: #fff;
	border: 3px solid #777;
	border-radius: 8px;
    cursor: pointer;
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle_camera_bg:before {
	content: '海康';
	left: 5px;
	color: #66b317;
}
.toggle_camera_bg:after {
	float: right;
	content: '抓拍';
	right: 5px;
	color: #ff6e6e;
}
.toggle_camera_bg:before,
.toggle_camera_bg:after {
	position: absolute;
	line-height: 26px;
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle_button {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 40px;
    height: 26px;
    background: #ff6e6e;
    border-radius: 5px 0 0 5px;
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#toggle_camera:checked + .toggle_camera_bg .toggle_button {
	transform: translateX(38px);
	background: #66b317;
	border-radius: 0 5px 5px 0;
}